@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,700;1,300;1,700&display=swap');

html,
body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    min-width: 528px;
    background-color: #FFCCCC;
}

body * {
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
    user-select: none;
}

#getName {
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: black;
}

#getName span {
    position: relative;
    line-height: 32px;
    top: calc(50% - 32px);
}

label {
    font-weight: 700;
}

#readyLabel {
    color: black;
}

#nameLabel {
    color: white;
}

.player {
    float: right;
    padding: 4px;
    border-radius: 4px;
    border: 1px solid black;
    margin: 16px;
    min-width: 64px;
    height: 20px;
    text-align: center;
}

#player0 {
    background-color: white;
    color: black;
}

#player1 {
    background-color: blue;
    color: white;
}

#player2 {
    background-color: green;
    color: white;
}

#player3 {
    background-color: yellow;
    color: black;
}

input[type=checkbox] {
    cursor: pointer;
}

.fields,
.homes,
.outs {
    box-sizing: border-box;
    border: 1px solid black;
    position: absolute;
    width: 48px;
    height: 48px;
}

#dice {
    position: absolute;
    top: 256px;
    left: 256px;
    width: 48px;
    height: 48px;
}

.fields {
    background-color: gray;
}

.homes {
    background-color: #2f2f2f;
}

.whites {
    background-color: white;
}

.blues {
    background-color: blue;
}

.greens {
    background-color: green;
}

.yellows {
    background-color: yellow;
}

#board {
    position: absolute;
    top: 96px;
    left: calc(50% - 280px);
    width: 560px;
    height: 560px;
    background-color: darkred;
}

#roll {
    font-weight: 700;
    font-style: italic;
    position: absolute;
    top: 60px;
    left: calc(50% - 23.5px);
    width: 47px;
}
