@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

html,
body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: gainsboro;
}

body * {
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
}

#getName {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: black;
}

#getName span {
    position: relative;
    line-height: 32px;
    top: calc(50% - 32px);
}

label {
    color: white;
}

.player {
    float: right;
    padding: 4px;
    border-radius: 4px;
    border: 1px solid black;
    margin: 16px;
    min-width: 64px;
    height: 20px;
    text-align: center;
}

#player0 {
    background-color: red;
    color: white;
}

#player1 {
    background-color: blue;
    color: white;
}

#player2 {
    background-color: green;
    color: white;
}

#player3 {
    background-color: yellow;
    color: black;
}
